<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azureblobtriggersentemail20240311013624.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd1645db-49b3-42fc-96bc-cd3d0b890d7b/resourcegroups/Test/providers/Microsoft.Web/sites/AzureBlobTriggerSentEmail20240311013624</ResourceId>
    <UserName>$AzureBlobTriggerSentEmail20240311013624</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azureblobtriggersentemail20240311013624.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>